INSERT INTO users (
    id, email, password_hash, handle, display_name, initials, account_type,
    verified_student, member_since
) VALUES (
    '00000000-0000-0000-0000-000000000002',
    'user1',
    '$2a$12$dMFog/7GHwEI.3K/row/o.4xDgoiihUXQV4.iLw7xENMMwQ3PPECS',
    'user1',
    'User One (Renter)',
    'U1',
    'REQUESTER',
    TRUE,
    DATE '2026-04-01'
) ON CONFLICT (email) DO UPDATE SET password_hash = EXCLUDED.password_hash;

INSERT INTO user_settings (user_id) VALUES ('00000000-0000-0000-0000-000000000002') ON CONFLICT (user_id) DO NOTHING;

INSERT INTO users (
    id, email, password_hash, handle, display_name, initials, account_type,
    verified_student, member_since
) VALUES (
    '00000000-0000-0000-0000-000000000003',
    'user2',
    '$2a$12$uvvD1gJhE9u.FgjB28RhCef5TUKlWSDnScdV5dmLOHKwPnS8gR1Jq',
    'user2',
    'User Two (Creator)',
    'U2',
    'OWNER',
    TRUE,
    DATE '2026-04-01'
) ON CONFLICT (email) DO UPDATE SET password_hash = EXCLUDED.password_hash;

INSERT INTO user_settings (user_id) VALUES ('00000000-0000-0000-0000-000000000003') ON CONFLICT (user_id) DO NOTHING;

INSERT INTO users (
    id, email, password_hash, handle, display_name, initials, account_type,
    verified_student, member_since
) VALUES (
    '00000000-0000-0000-0000-000000000004',
    'admin',
    '$2a$12$uUOEGzoCspEjFbNXwKDgv.rvp5S4u9DdyLarEt7hRsFwWLTijBfQC',
    'admin',
    'Admin User',
    'AD',
    'ADMIN',
    TRUE,
    DATE '2026-04-01'
) ON CONFLICT (email) DO UPDATE SET password_hash = EXCLUDED.password_hash;

INSERT INTO user_settings (user_id) VALUES ('00000000-0000-0000-0000-000000000004') ON CONFLICT (user_id) DO NOTHING;
